In this notebook, we change the granular labels into more general labels

In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
root = '../../annotated/chemlab/prior-posterior/prior version 6/'

In [3]:
chris = pd.read_csv(root + 'chris_prior_s4.csv', sep='\t', index_col=0)
jade = pd.read_csv(root + 'jade_prior_yestoknow.csv', sep='\t', index_col=0)

In [4]:
chris.head()

,index,username,gender,year,field,beerslaw,chris_label,flag_chris_label
0,307,tcnba4ca,3.0,3rd,"Chemistry, Textiles",Ich habe schon einiges davon gehört,"heard about,no mention",NaN
1,30,xau6wapw,1.0,1st,Chemistry,Nein,don't know,NaN
2,180,jamrhf3h,1.0,1st,Chemistry,hatten im Uek schon einmal Lambert-Beer'schen ...,"rusty,in class",NaN
3,196,unkrat9w,1.0,1st,Pharma Chemistry,Logisch!,"don't know,no mention",NaN
4,170,39htvmt5,2.0,1st,Chemistry,Ich habe davor nichts mit diesem Gesetz zu tun...,don't know,NaN

In [5]:
jade.head()

,index,username,gender,year,field,beerslaw,jade_label,flag_jade_label
0,307,tcnba4ca,3.0,3rd,"Chemistry, Textiles",Ich habe schon einiges davon gehört,"heard about,no mention",NaN
1,30,xau6wapw,1.0,1st,Chemistry,Nein,don't know,NaN
2,180,jamrhf3h,1.0,1st,Chemistry,hatten im Uek schon einmal Lambert-Beer'schen ...,"forgot,in class",NaN
3,196,unkrat9w,1.0,1st,Pharma Chemistry,Logisch!,"know,no mention",NaN
4,170,39htvmt5,2.0,1st,Chemistry,Ich habe davor nichts mit diesem Gesetz zu tun...,don't know,NaN

# Granular to 4 Labels
Chaging the labels to the 4 categories defined in https://www.notion.so/version-2-0-3-0-deea04e89c83477ca27c2bc2ef857a60

In [6]:
np.unique(list(chris['chris_label'].unique()) + list(jade['jade_label'].unique()))

array(['can use,at work', "can use,don't know,at work",
       'can use,no mention', "don't know", "don't know,no mention",
       'forgot,in class', 'forgot,no mention', 'heard about,at work',
       'heard about,can use,at work', 'heard about,in class',
       'heard about,no mention', 'heard about,rusty,forgot,in class',
       'know,at work', 'know,can use,in class,at work', 'know,in class',
       'know,in class,at work', 'know,no mention', 'rusty,at work',
       'rusty,in class', 'rusty,no mention', 'yes,in class',
       'yes,no mention'], dtype='<U33')

In [7]:
def change_label(labels:str) -> str:
    labels = labels.split(',')
    label_map = {
        "don't know": '0',
        'forgot': '1',
        'heard about': '1',
        'rusty': '2',
        'overestimate': '2',
        'yes': '3',
        'know': '3',
        'can use': '3',
        'no mention': 'no mention',
        'in class': 'in class',
        'at work': 'at work'
    }
    labs = [label_map[lab] for lab in labels]
    labs = list(np.unique(labs))
    labs = ','.join(labs)
    return labs

In [8]:
chris['new_labels'] = chris['chris_label'].apply(change_label)
jade['new_labels'] = jade['jade_label'].apply(change_label)

In [9]:
chris = chris.rename(columns={'chris_label': 'old_labels', 'new_labels':'chris_label'})
jade = jade.rename(columns={'jade_label': 'old_labels', 'new_labels': 'jade_label'})

In [10]:
chris.to_csv(root + '4 categories/chris_prior_s4.csv', sep='\t')
jade.to_csv(root + '4 categories/jade_prior_s4.csv', sep='\t')

# Change to 3 Labels
Changing the labels to the 3 categories defined in https://www.notion.so/version-2-0-3-0-deea04e89c83477ca27c2bc2ef857a60

In [12]:
def change_label(labels:str) -> str:
    labels = labels.split(',')
    label_map = {
        "don't know": '0',
        'forgot': '0',
        'heard about': '1',
        'rusty': '1',
        'overestimate': '1',
        'yes': '3',
        'know': '3',
        'can use': '3',
        'no mention': 'no mention',
        'in class': 'in class',
        'at work': 'at work'
    }
    labs = [label_map[lab] for lab in labels]
    labs = list(np.unique(labs))
    labs = ','.join(labs)
    return labs

In [13]:
chris['new_labels'] = chris['old_labels'].apply(change_label)
jade['new_labels'] = jade['old_labels'].apply(change_label)

chris = chris.rename(columns={'new_labels':'chris_label'})
jade = jade.rename(columns={'new_labels': 'jade_label'})

In [14]:
chris.to_csv(root + '3 categories/chris_prior_s4.csv', sep='\t')
jade.to_csv(root + '3 categories/jade_prior_s4.csv', sep='\t')

# Check

In [15]:
chris = pd.read_csv(root + '4 categories/chris_prior_s4.csv', sep='\t', index_col=0)
jade = pd.read_csv(root + '4 categories/jade_prior_s4.csv', sep='\t', index_col=0)

In [16]:
chris['chris_label'].unique()

array(['1,no mention', '0', '2,in class', '0,no mention', '2,no mention',
       '1,in class', '0,3,at work', '3,no mention', '2,at work',
       '3,in class', '1,3,at work', '3,at work,in class', '3,at work',
       '1,at work'], dtype=object)